<!-- Page Content -->
<div class="content1">
<div class="container">
<div ng-controller="AboutUsCtrl">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Contact
                <small>We'd Love to Hear From You!</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-8">
            <h3>Let's Get In Touch!</h3>

 <h3 ID="submitBox"></h3>
            <form role="form" method="" action="" name="form">
                
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="input1">Name</label>
                        <input type="text" name="contact_name" class="form-control" id="input1" required>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input2">Email Address</label>
                        <input type="email" name="contact_email" class="form-control" id="input2" required>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input3">Phone Number</label>
                        <input type="phone" name="contact_phone" class="form-control" id="input3" required>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input4">Message</label>
                        <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-primary" ng-click="myFunction()">Submit</button>
                    </div>
                </div>
               
            </form>
            
        </div>

        <div class="col-sm-4">
            <h3>Address</h3>
            <h4>Swasri INFRA</h4>

            <p>
                H.No-2-94/10/1, Raghavendra Nagar, Meerpet<br>
                Hyderbad, Telangana-500097<br>
            </p>

            <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: 8886866966,9030082564</p>

            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a
                    href="mailto:feedback@swasriinfra.co.in">feedback@swasriinfra.co.in</a></p>
            <p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: 24/7 available</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-page" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-company-page" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a></li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-page" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a></li>
            </ul>
        </div>
<div class="col-lg-12">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
    <div style="overflow:hidden;width:1000px;height:450px;resize:none;max-width:100%;"><div id="my-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/search?q=Swasri+INFRA,+Meerpet,+Hyderabad&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="embed-map-html" href="https://www.dog-checks.com/miniature-schnauzer-checks" id="enable-map-data">mini schnauzer checks</a><style>#my-map-display .text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div><script src="https://www.dog-checks.com/google-maps-authorization.js?id=997ba5a3-ae68-037c-a4e6-0854b5958aed&c=embed-map-html&u=1468168430" defer="defer" async="async"></script>
            </div>
    </div>
    <!-- /.row -->

</div><!-- /.container -->
    </div>	