<footer class="footer">
 <div class="row" >
     <div class="col-md-12">
            <ul class="nav navbar-nav">
                <li><a href="#/AboutUs">AboutUs</a>
                </li>
                <li><a href="#/AboutUs">Services</a>
                </li>
                <li><a href="#/AboutUs">Careers</a>
                </li>
                <li><a href="#/AboutUs">Mission</a>
                </li>
            </ul>
    </div>
     <div class="col-md-12">
        <small class="copyright">Copyright @ SwasriINFRA 2016</small>
     </div>
     
        </div>
</footer>