<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" background-color="white">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img src="img/logo.png" alt="logo" style="height:80px;margin-top:-30px;"/>Swasri INFRA</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse" >
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/AboutUs">AboutUs</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/OngoingProjects">Ongoing Projects</a>
                        </li>
                        <li><a href="#/CompletedProjects">Completed Projects</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#/ContactUs">ContactUs</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!--navbar navbar-inverse navbar-fixed-top navbar-custom-->